
.main-section{
    position: relative;
}
.main-section .main-order{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: #000000ac;
}
.text h2{
    font-size: 14px !important;
}
.text p{
    font-size: 12px !important;
}
.order-status img{
    position: relative;
    width: 45px;
}
.order-status p{
    position: absolute;
    top: 0;
    padding: 7px 8px;
    color: aliceblue;
    font-size: 12px;
    margin: auto;
    /* text-align: center; */
}