.ant-tabs-nav-list{
    width: 100% !important;
    justify-content: center !important;
}

.ant-tabs-nav-list .ant-tabs-tab{
    padding-left: 1rem!important;
    padding-right: 1rem !important;
    width: 100% !important;
    justify-content: center !important;
}

:where(.css-dev-only-do-not-override-1drr2mu).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #AE932F !important;
}
:where(.css-dev-only-do-not-override-1drr2mu).ant-tabs .ant-tabs-tab-btn:hover,
:where(.css-dev-only-do-not-override-1drr2mu).ant-tabs .ant-tabs-tab:hover{
    color: #AE932F !important;
}

:where(.css-dev-only-do-not-override-1drr2mu).ant-tabs .ant-tabs-ink-bar{
    background: #AE932F !important;
}

:where(.css-dev-only-do-not-override-1drr2mu).ant-tabs{
    font-family: "Almarai", sans-serif !important;
}

:where(.css-dev-only-do-not-override-1drr2mu).ant-tabs .ant-tabs-tab+.ant-tabs-tab{
    margin: 0 !important;
}

:where(.css-dev-only-do-not-override-1drr2mu).ant-tabs-top >.ant-tabs-nav, :where(.css-dev-only-do-not-override-1drr2mu).ant-tabs-bottom >.ant-tabs-nav, :where(.css-dev-only-do-not-override-1drr2mu).ant-tabs-top >div>.ant-tabs-nav, :where(.css-dev-only-do-not-override-1drr2mu).ant-tabs-bottom >div>.ant-tabs-nav {
    margin: 0 !important;
}